<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVC - @ViewBag.Title</title>
</head>
<body>
    <div>
        @if (Context.User.Identity.IsAuthenticated)
        {
            <p>Hello, <b>@Context.User.Identity.Name</b></p>
            <a id="signout-button" onclick="document.getElementById('signout-form').submit();" style="cursor: pointer;">Sign Out</a>
            <form action="@Url.Action("SignOut","Authentication")" method="post" id="signout-form"></form>
        }
        else
        {
            @Html.ActionLink("Sign In", "SignIn", "Authentication")
        }
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
